<div class="row blank-slate text-center">
	<div class="small-12 column small-centered columns">
		<p>You don't have any todo lists!</p>
		<%= link_to "Add list", new_todo_list_path, class: "button radius" %>
	</div>
</div>